.btn{
    padding: 10px 20px ;
    

    color: antiquewhite;
  }
  .container{
  padding: 10px 20px;
  margin: 10px;
  align-content: center;
  }
.raw{
  padding: 10px;
  text-align: center;

}
  .row img{
      
 padding: 10px 20px ;
height:  300px;
width: 300px;
}
.container{
  flex-direction: row;
  flex-wrap: wrap;
  display: inline-block;
}