 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: roboto,sans-serif;
}
.row{
  font-size: 20px;
}
.flex-container{
  display: flex;
}

.btn{
  background-color: red;
  color: antiquewhite;
}